<mat-toolbar color="accent">
  <button mat-button [matMenuTriggerFor]="actions">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #actions="matMenu">
    <button mat-menu-item (click)="openMemberSettingsDialog()">Member Settings</button>
    <button mat-menu-item (click)="openSaveBoardDialog()">Title and Description</button>
  </mat-menu>
  <button mat-icon-button class = "bar_chart" (click)="openStatisticsDialog()" ><mat-icon aria-hidden="false" aria-label="bar_chart">bar_chart</mat-icon></button>
</mat-toolbar>
<mat-accordion>

  <!-- To do -->
  <mat-tab-group>
    <mat-tab label="Todo">
      <form [formGroup]="taskInputForm" (ngSubmit)="onSubmit(taskInputForm)" class="board-detail-create-field">
        <mat-form-field>
          <label>
            <input placeholder="Type in your task" formControlName="taskInput" matInput>
          </label>
        </mat-form-field>
        <button mat-button type="submit">Add Task</button>
      </form>
      <mat-list>
        <mat-list-item *ngFor="let todo of todos$ | async">
          <button mat-button (click)="showTaskDetailDialog(todo)">{{todo.name}}</button>
          <button mat-button (click)="setTasksStatus(todo, 'progress')">
            <mat-icon>move_to_inbox</mat-icon>
          </button>
          <button mat-button (click)="deleteTask(todo)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-tab>

    <!-- In Progress -->
    <mat-tab label="In Progress">
      <mat-list>
        <mat-list-item *ngFor="let progress of progress$ | async">
          <button mat-button (click)="showTaskDetailDialog(progress)">{{progress.name}}</button>
          <button mat-button (click)="setTasksStatus(progress, 'review')">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-button (click)="deleteTask(progress)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-tab>

    <!-- Review -->
    <mat-tab label="Review">
        <mat-list>
          <mat-list-item *ngFor="let review of review$ | async">
            <button mat-button (click)="showTaskDetailDialog(review)">{{review.name}}</button>
            <button mat-button (click)="setTasksStatus(review, 'done')">
              <mat-icon>done_all</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
    </mat-tab>

    <!-- Done -->
    <mat-tab label="Done">
      <mat-list>
          <mat-list-item *ngFor="let done of done$ | async">
            <button mat-button (click)="showTaskDetailDialog(done)">{{done.name}}</button>
          </mat-list-item>
        </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-accordion>
