<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Todo
      </mat-panel-title>
      <mat-panel-description>
        Type in the tasks you want to do
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <mat-form-field class="board-detail-create-field">
        <textarea matInput placeholder="Task name "></textarea>
      </mat-form-field>
      <button mat-button>Add Task</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        In Progess
      </mat-panel-title>
      <mat-panel-description>
        Show the tasks that are currently in progess
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Done
      </mat-panel-title>
      <mat-panel-description>
        Show the tasks that are currently in progess
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
