img.avatar {
  height: 25pt;
  margin-right: 5pt;
  vertical-align: middle;
}

form {
  margin: 6pt 12pt;
}

img.rounded.avatar {
  border-radius: 50%;
}

form mat-form-field {
  width: 100%;
  max-width: 200pt;
  padding: 0 10pt;
}

mat-spinner {
  display: inline-block;
}

.mat-column-actions, .mat-column-profile-picture, .mat-column-role {
  max-width: 40pt;
}

.mat-column-email {
  min-width: auto !important;
}

mat-table {
  min-width: 500pt;
}

.invisible {
  visibility: hidden;
}
