<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Your Boards</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let board of boardsToWhichTheUserHasAccess$ | async"
         [href]="'/boards/' + board.id">{{board.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-button [href]="'/boards'">
        <mat-icon>home</mat-icon>
      </a>
      <button mat-button [matMenuTriggerFor]="actions">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #actions="matMenu">
        <button mat-menu-item (click)="createBoard()">Create Board</button>
      </mat-menu>
      <span class="fill-empty-space"></span>
      <img [mat-menu-trigger-for]="userActions" *ngIf="imageUrlOfCurrentUser$ | async as imageUrl" [src]="imageUrl"
           alt="Avatar" class="avatar">
      <!-- The following image is a fallback for when the user is logged in but has no image. -->
      <img [mat-menu-trigger-for]="userActions"
           *ngIf="(isUserAuthenticated$ | async) && !(imageUrlOfCurrentUser$ | async)"
           src="../../assets/material-icons/account_circle.svg" alt="Avatar" class="avatar">
      <mat-menu #userActions="matMenu">
        <button mat-menu-item [routerLink]="['profile']">
          <mat-icon>perm_identity</mat-icon>
          Profile
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          Logout
        </button>
      </mat-menu>
      <button *ngIf="!(isUserAuthenticated$ | async)" mat-button (click)="login()">Login</button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
