@import "src/styles";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  // With a position of sticky the toolbar could overlap with mat-tabs below.
  // A position of static does not have this problem.
  position: static;
  top: 0;
  z-index: 1;
}

img.avatar {
  height: 75%;
  border-radius: 50%;
}

span.fill-empty-space {
  flex: 1 1 auto;
}

a.highlight {
  font-weight: bolder;
  background: $highlight !important;
}
