@import "src/styles";

.error {
  background-color: $warn;
  padding: 1em;
  border-radius: 10pt;
}

div.input-field-wrapper {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
}

div.input-field-wrapper mat-form-field {
  width: 100%;
}

mat-card {
  margin: 8pt;
  flex: 1 1 auto;
}

.mat-dialog-content {
  display: flex;
  flex-wrap: wrap;
  margin: 8pt;
}
