<h1 mat-dialog-title>{{data.board.title}}</h1>
<div mat-dialog-content>
  <mat-form-field class="demo-chip-list">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let member of membersToInvite"
        (removed)="removeMember(member)">
        {{member.email}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New members..."
        #memberInput
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputAddOnBlur]="false"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let profile of allProfiles$ | async" [value]="profile">
        <img *ngIf="profile.photoURL" [src]="profile.photoURL" class="avatar" alt="">
        <span>{{profile.email}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Invite</button>
</div>

