<div class="flex-container" *ngIf="profileForm">
  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
    <h1>Profile</h1>
    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input formControlName="email" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input formControlName="displayName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Photo URL</mat-label>
      <textarea
        formControlName="photoURL"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <button mat-button type="button" *ngIf="photoUrlCouldBeReset$ | async" (click)="resetPhotoURL()">Reset photo URL</button>
    <button mat-button type="button" *ngIf="profileForm.dirty" (click)="resetProfileForm()">Cancel</button>
    <button *ngIf="profileForm.dirty && profileForm.valid" mat-raised-button color="accent" type="submit">Update</button>
  </form>
  <mat-card *ngIf="profileForm.value.photoURL">
    <mat-card-title>
      Image Preview
    </mat-card-title>
    <mat-card-content class="img-wrapper">
      <img [src]="profileForm.value.photoURL" alt="">
    </mat-card-content>
  </mat-card>
</div>

